@inherits LayoutComponentBase

<div class="main-layout">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    Une erreur s'est produite.
    <a href="." class="reload">Recharger</a>
    <span class="dismiss">🗙</span>
</div>
